.copy {
    padding: .25rem .5rem;
    border: 1px solid gray;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.copy__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}