.password-generator {
    padding: 2rem;
    border-radius: 4px;
    border: 1px solid gray;
    width: 300px;
    margin: 1rem;

    @media screen and (max-width: 500px) {
        width: 80%;
    }
}